<div class="container" *ngIf="album">
  <div class="row">
    <div class="col-md-4">
      <div *ngIf="album.images.length>0">
        <img class="align-self-center mr-3" src="{{album.images[0].url}}" width="300px">
      </div>
    </div>
    <div class="col-md-8">
      <h4 *ngIf="album.artists.length > 0">
        <span *ngFor="let artist of album.artists">
          {{artist.name}}
        </span>
      </h4>
      <h2>{{album.name}}</h2>
      <h5>Release Data: {{album.release_date}}</h5>
      <a class="btn btn-primary" href="{{album.external_urls.spotify}}">View in Spotify</a>
    </div>
  </div>
</div>

<div *ngIf="album" class="container">
  <div *ngFor="let track of album.tracks.items">
    <div class="row">
      <div class="col-md-12">
        <div class="search-res card text-white bg-dark mb-3">
          <div class="card-body">
            <h5>{{track.track_number}} - {{track.name}}</h5>
            <a href="{{track.preview_url}}" target="_blank" *ngIf="track.preview_url">Preview Track</a>
            <span *ngIf="!track.preview_url">No Preview Track Available instead
              <a href="{{track.external_urls.spotify}}" target="_blank">Open it on Spotify</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>